html, body {
   margin: 0;
   height: 100%;
   position: relative;
}
#c {
   width: 100%;
   height: 100%;
   display: block;
}

.run-show{
   opacity: 1;
   transition: all 0.5s;
}

.run-hide{
   opacity: 0;
   transition: all 0.5s;
}

#text-div{
   z-index: 1;
   position: absolute;
   left: 0;
   top:0;
}